fastapi
pydantic
starlette
typing-extensions
# uvicorn
uvicorn[standard]
gunicorn
requests
python-dotenv
pytz
python-multipart
SQLAlchemy
psycopg2
python-jose[cryptography]
passlib[bcrypt]
# GeoAlchemy2
logzio-python-handler
aiofiles
jinja2
fastapi-restful[tasks]
numpy
pandas
google
protobuf==3.19.*
GeoAlchemy2==0.10.2
shapely
# redis_om
# fastapi-redis-cache
# fastapi-cache2[redis]
# aioredis